@import "tailwindcss";

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif !important;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;
}
*{

  scrollbar-color:#787777 #1e1e1e;
  scrollbar-width:thin;
  box-sizing: border-box;
  font-family:'Outfit';
  scroll-behavior: smooth;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body,html{
  min-height:100%;
  width:100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.App{
  width:80%;
  margin:auto;
  height:90%;
}
.no-scrollbar{
  scrollbar-width:none;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #b8730bd4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media(max-width:505px){
  .App{
    width:90%;
  }
}
